    h1 {
        text-decoration: underline;
    }

    h1, h2, h, p {
        color: rgb(51, 65, 48);
    }

    h1, h2, p, li, a {
        font-family: 'Questrial', sans-serif;
        
    }

    a  { color :white; 

    }
/* formatting*/
    .container {
        width: 960px;
        padding: 20px;
        margin: 0 auto;
        background-color: rgb(87, 232, 232);
    }

    

   